@font-face {
  font-family: 'HelveticaNeue';
  src: url('assets/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue.ttf')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('assets/fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue-Bold.ttf')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeueBoldItalic';
  src: url('assets/fonts/HelveticaNeue-BoldItalic.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue-BoldItalic.ttf')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeueCondensedBlack';
  src:
  url('assets/fonts/HelveticaNeue-CondensedBlack.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue-CondensedBlack.ttf')  format('truetype'),
}

@font-face {
  font-family: 'HelveticaNeueCondensedBold';
  src: 
  url('assets/fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeueBlackCondensed.woff2')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeueItalic';
  src:
  url('assets/fonts/HelveticaNeue-Italic.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue-Italic.ttf')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src:
  url('assets/fonts/HelveticaNeue-Light.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue-Light.ttf')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeueLightItalic';
  src:
  url('assets/fonts/HelveticaNeue-LightItalic.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue-LightItalic.ttf')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src:
  url('assets/fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue-Medium.ttf')  format('truetype')
}


@font-face {
  font-family: 'HelveticaNeueMediumItalic';
  src:
  url('assets/fonts/HelveticaNeueCyr-MediumItalic.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue-MediumItalic.ttf')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeueThin';
  src:
  url('assets/fonts/HelveticaNeue-Thin.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue-Thin.ttf')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeueThinItalic';
  src:
  url('assets/fonts/HelveticaNeue-ThinItalic.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue-ThinItalic.ttf')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeueUltraLight';
  src:
  url('assets/fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue-UltraLight.ttf')  format('truetype')
}

@font-face {
  font-family: 'HelveticaNeueUltraLightItalic';
  src:
  url('assets/fonts/HelveticaNeue-UltraLightItalic.woff2') format('woff2'),
  url('assets/fonts/HelveticaNeue-UltraLightItalic.ttf')  format('truetype')
}
